
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWdhajdwdXp0eDR1ZTNlbnkyeXY2bmlvZGVsdzUzYnk3djZwdXhzaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YnjxvrvonPCcDtdppt/giphy.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 1rem;
  color: #333;
}

.card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 1rem;
  max-width: 1800px;
  margin: 0 auto;
}

.event-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 4px 10px rgba(119, 113, 194, 0.08);
  width: 300px;
  max-width: 400px;
  text-align: left;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.event-card:hover {
  transform: translateY(-5px);

}

.event-title {
  font-size: 1.4rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.event-desc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.event-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: auto;
}
/* Image Section */
.image-section {
  padding: 2rem 1rem;
  text-align: center;
}

.image-wrapper {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.image-wrapper img {
  width: 100%;
  max-width: 650px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.event-link:hover {
  text-decoration: underline;
}
