
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url('./assets/bckcover.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 1rem;
  color: #ffffff;
}*/
.section-title {
font-family: 'Oswald';
  font-size: 3rem; /* Adjust size to emphasize length */
  font-weight: 300; /* This is 'Light'. You can also try 200 for 'Extra-Light' */
  letter-spacing: 2px; /* A bit of letter-spacing enhances the thin look */
  text-transform: uppercase; /* Often pairs well with condensed fonts */
  color: #ffffff; /* Or a cool gray/blue */
  /* Add other styles like text-shadow if desired for emphasis */
  text-align: center;

}

.card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 1rem;
  max-width: 1800px;
  margin: 0 auto;
}

.event-card {
  background-color: #fbf3ff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 4px 10px rgba(119, 113, 194, 0.08);
  width: 250px;
  max-width: 220px;
  text-align: left;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.event-title {
  font-size: 1.4rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.event-desc {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.event-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: auto;
}

.event-card:hover {
  transform: translateY(-5px);
  background-image: url('./assets/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card:hover .event-title,
.event-card:hover .event-desc {
  color: #fff; 
  transition: color 0.3s ease; 
}

.event-card:hover .event-link {
    color: #add8e6; 
    transition: color 0.3s ease;
}

.event-link:hover {
  text-decoration: underline;
}

/* Image Section */
.image-section {
  padding: 2rem 1rem;
  text-align: center;
}

.image-wrapper {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.image-wrapper img {
  width: 100%;
  max-width: 650px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}



